<input type="text"
       class="form-control"
       (input)="onUpdateServerName($event)"
/>

<input type="text"
       class="form-control"
       [(ngModel)]="serverName"
/>

<button
  class="btn btn-primary"
  [disabled]="!allowAddServer"
  (click)="onCreateServer()">Add a server
</button>

<P *ngIf="serverCreationStatus.length>0; else noServer">{{serverCreationStatus}}</P>

    <ng-template #noServer>
      <p>No server defined so far !</p>
    </ng-template>

<hr>
<p>{{serverName}}</p>
<br/>
<hr>

<label>User Name:
  <input type="text"
         class="form-control"
         [(ngModel)]="userName"
  />
</label>

<p>The username is:{{userName}}</p>

<button
  class="btn btn-primary"
  [disabled]="userName.length<=0"
  (click)="onClickClearUserName()">Clear name Field
</button>


<hr>


<p>This is a string interpolation: {{allowAddServer}}</p>

<span>This is a property binging: <span [innerText]="allowAddServer"></span> </span>


<app-server></app-server>
<app-server></app-server>
